body {
    margin: 0;
    background-color: #efd5ee

}
h1#testID
{
    text-decoration: line-through   
}
div#femboycube {
    background-color: pink;
    text-align:center;
    font-size: 50px;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    /*float: left;*/
    /*border-radius: 50%;*/
    border: 10px ridge #ff11fa;
    transition:background-color 2s 0.3s
}
iframe{
    font-size: 10px;

}
#femboycube:hover{
    color:blue;
    background-color:yellow;
}
#stupidButton{
    width:200px;
    height:50px;
    float:right;
}
header{
    background-color:#474747;
    text-align:right;
    padding-bottom:3px;
    font-size:37px;
    height:60px;
}
#headerButtonDiv1 {
    margin-right: 3%;
    float: right;
    border-radius: 4.5px;
}
#headerButtonDiv2 {
    margin-right: 3%;
    float: right;
    border-radius: 4.5px;
}
.button {
    height: 50px;
    display: block;
    margin-top: 6px;
    padding-left:15px;
    padding-right:15px; 
    border-radius:5px;
    background-color: #848484;
    border: none;
    transition-duration: 0.4s;
    font-size: 70%;
}
.button:hover{
    background-color: #bbbbbb;
    cursor: pointer;
}
#logoDiv {
    float: left;
    margin-left: 20px;
    cursor: pointer;
}
#fmgw {
    height: 54px;
    width: 108px;
}
#redacted{
    color:red;
}
#title {
    font-weight: 600;
    font-size: 50px;
    font-style: italic;
    font-family: 'Bodoni Moda', serif;
    word-spacing: 20px;
    text-align:center;
}
.dropdown {
    padding-top: 0px;
    width: 43px;
    height: 43px;
    float: right;
    margin-right: 5%;
    border-radius: 35px;
    cursor: pointer;
    background-color: rgb(56, 56, 56);
}
.dropbtn {
    background-color: #474747;
    color: red;
    padding: 10px;
    padding-left: 17px;
    border: none;
}
.dropdown-content {
    display: block;
    position: absolute;
    background-color: rgb(139, 139, 139);
    width: 5%;
    top: -100%;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(2, 2, 2, 0.1);
    transition: top 0.3s ease-in-out;
    z-index: -1;
}
.dropdown-content button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}
.dropdown-content button:hover {
    background-color: rgb(108, 108, 108);
}
.dropdown:hover .dropdown-content {
    top: 6%;
    z-index: 1;
}
.dropbtn dropdown:hover {
    background-color: #696969;
}

.gameButtonDiv{
    float: left;
    font-size: 200%;
    margin-left: 8.7%;
    border-style: outset;
    border-width: 5px;
    border-color: gray;
    padding: 3%;
    padding-top: 0%;
    height: 100px;
    width: 6.7%;
    margin-top: 10%;
    text-align: center;
    transition-duration: 0.5s;
}

    .gameButtonDiv:hover {
        width: 13.4%;
        height: 200px;
        margin-top: 6%;
        margin-left: 6%;
        padding: 4%;
        padding-top: 0%;
        cursor: pointer;
        color:red;
    }
#dim {
    box-shadow: 0 0 0 10000vmax rgba(0,0,0,0.0);
    transition: all 1.2s;
    position:relative;
}
    #dim:hover {
        box-shadow: 0 0 0 10000vmax rgba(0,0,0,0.8);
    }